<html>
    <body>
        <h1><%=message%></h1>
        <form method="POST" action="/addInfo">
            Name : <input type='text' name ='name'>
            Age : <input type="text" name='age'>
            <input type="submit" value="submit">
        </form>
    </body>
</html>