<html>
    <body>
        <h1><%=message%></h1>
        <form method="DELETE" action="/deleteInfo">
            Name : <input type="text" name="name">
            <input type="submit" value="delete">
        </form>
    </body>
</html>