<html>
    <body>
        <form action="/addInfo">
            <input type="submit" value="add info">
        </form><br>
        <form action="/showInfo">
            <input type="submit" value="show info">
        </form>
        <br>
        <form action="/deleteInfo">
            <input type="submit" value="delete info">
        </form>
        <br>
        <form action="/updateInfo">
            <input type="submit" value="Update info">
        </form>
        <br>
        <form action="/addName">
            <input type="submit" value="add name">
        </form>
        <br>
        <form action="/showName">
            <input type="submit" value="show name">
        </form>
        <br>
        <form action="/updateName">
            <input type="submit" value="update name">
        </form>
        <br>
        <form action="/deleteName">
            <input type="submit" value="delete name">
        </form>
    </body>
</html>