<html>
    <body>
        <h1><%=message%></h1>
        <form method="POST" action="/updateInfo">
            PrevName: <input type="text" name="prev">
            NewName: <input type="text" name="new">
            <input type="submit" value="Update">
        </form>
    </body>
</html>